.row {

    .login-col-1 {
        background-color: rgb(244, 247, 248);
        background-image: url('../../../assets/register.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        position: fixed;
        height: 100vh;
    
        .logo {
            position: absolute;
            top: 10px;
            left: 15px;
            border-radius: 50%;
            width: 5%;
        }
    }
    
    .login-col-2 {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        padding: 30px 50px 100px;
    }
    
    .login {
        &__heading {
            font-family: 'Work Sans', sans-serif;
            font-size: 34px;
            padding-top: 1rem;
            
        }
    
        &__text {
            font-family: 'Source Sans Pro';
            font-size: 15px;
            padding: 1rem 0;
        }
    
        .form {
    
            margin-top: 1rem;
            
            &__group:not(:last-child) {
                margin-bottom: 1.5rem;
            }
    
            &__input {
                font-size: 1rem;
                padding: 1rem 1rem;
                background: #fff;
                border: none;
                outline: none;
                background: #FFFFFF;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
                border-radius: 6px;
                width: 100%;
                display: block;
                transition: all .3s;
                font-family: 'Source Sans Pro';
                transition: all .2;
    
                &:focus {
                    box-shadow: 0 0 1.1rem rgba(0,0,0, 0.15)
                }
            }
    
            
            .btn {
                background: #13244E;
                border-radius: 6px;
                width: 100%;
                border: none;
                outline: none;
                color: #ffffff;
                text-transform: uppercase;
                padding: 1rem 1rem;
            }
        }
    }
}



:host{
    
    @media screen and (max-width : "768px") {
        .login-col-1 {
            display: none;
        
        }
        
    }

    @media screen and (max-width : "600px") {
        .login-col-1 {
            display: none;
        
        }
    }

    @media screen and (max-width : "480px") {
        .login-col-1 {
            display: none;
        
        }
        .login-col-2 {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: center;
            padding: 20px 30px 100px;
        }
    }

    @media screen and (max-width : "412px") {
        .login-col-1 {
            display: none;
        
        }
        .login-col-2 {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: center;
            padding: 20px 30px 100px;
        }
    }

    @media screen and (max-width : "360px") {
        .login-col-1 {
            display: none;
        
        }
        .login-col-2 {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: center;
            padding: 20px 20px 100px;
        }
    }

    @media screen and (max-width : "320px") {
        .login-col-1 {
            display: none;
        
        }
        .login-col-2 {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: center;
            padding: 10px 20px 100px;
        }
    }
}