<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 login-col-1">
            <a [routerLink]="['/']"><img src="https://img.icons8.com/fluent/48/000000/todo-list.png" class="logo" /></a>
        </div>
        <div class="col-md-4 login-col-2 login">
            <h1 class="login__heading"> Login to your account </h1>
            <p class="login__text">Welcome back! Please login to your account</p>

            <form [formGroup] = "loginForm" (ngSubmit) = "submitLogin()" class="form">

                <div class="d-flex justify-content-center mt-2">
                    <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status" *ngIf = "isLoading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
            
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Enter email" formControlName = "email">
                </div>
                <div class="form__group">
                    <input type="password" class="form__input" placeholder="Enter password" formControlName = "password">
                </div>
                <div class="form__group">
                    <button type="submit" class="btn" [disabled]="loginForm.invalid"> log in </button>
                </div>
                <p class="text-center"> Create new account <a [routerLink]="['/auth', 'register']" > Sign up </a> </p>
    
            </form>
        </div>
    </div>
</div>