.main {
    background: #f2f2f2;
    height:  100vh;


    .task {
        position: relative;
        .add-task {
            position: absolute;
            bottom: 5px;
            right: 5px;
            border-radius: 50%;
            
        }
    }

    table {
        border-collapse: separate;
        border-spacing: 0 1em;
    }
    
    .info {
        display: grid;
        place-items: center;
    }

 
}

