<div class="container-fluid main">
    <div class="container">
        <div class="row mb-5 ">
            <div class="col-md-4 card list my-5">
               
                    <div class="d-flex justify-content">
                        <h4 class="p-3"> Create List</h4>
                        <span class=" p-3 ml-auto" (click)="logoutUer()"> <i class="far fa-user"></i> Log out</span>
                    </div>
                    <app-list></app-list>
               
            </div>
            <div class="col-md-7 offset-md-1 card task my-5">
                <section class="info my-5" [hidden] *ngIf = "noData">
                    <i class="fas fa-chalkboard-teacher fa-4x text-muted pb-4"></i>
                    <h4 class="text-muted text-center"> No list created yet, <br> click on the list <br> click on the add button to add task to the list </h4>
                  </section>
            </div>
        </div>
    </div>

    
</div>