.main {
    background: #f2f2f2;
    height: 100vh;

    span {
        color: #0078d4;
        cursor: pointer;
    }
    
    .info {
        display: grid;
        place-items: center;

        ul > li {
            list-style-type: none;
            font-size: 1.1rem;
        }
    }

 
}

