<div class="container-fluid main">
    <div class="container">
        <div class="row  hero">
            <div class="col-md-6 hero__image">
                <img src="../../../assets/todo.svg" alt="login user" sizes="" srcset="">
            </div>
            <div class="col-md-6 hero__text  ">
                <div class="hero__heading">
                    <h1> To do </h1>
                    <p>Todo gives you focus, from work to play</p>
                </div>
                <div class="hero__button">
                    <button class="hero__text-btn"  [routerLink]="['/auth','login']" > Get started</button>
                </div>
            </div>
        </div>
    </div>

</div>